* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #007777;
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#nav-ul {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -o-justify-content: space-evenly;
  justify-content: space-evenly;
  display: flex;
  height: 100%;
}

.nav-li {
  list-style: none;
}

a {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#welcome {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-size: 16px;
  background: linear-gradient(180deg, #007777 48px, #80BBBB 100%);
  height: 100vh;
  min-height: 211px;
}

#welcome-box {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

h1 {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-size: 32px;
}

#welcome-subtitle {
  margin-top: 0.5em;
}

#welcome-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #C65A00;
  display: block;
  margin: 20px auto 0 auto;
  padding: 0.5em;
  text-decoration: none;
  width: 150px;
}

#welcome-button:hover {
  -webkit-box-shadow: 5px 10px 20px #007777;
  -moz-box-shadow: 5px 10px 20px #007777;
  -o-box-shadow: 5px 10px 20px #007777;
  box-shadow: 5px 10px 20px #007777;
}

#projects {
  margin-top: -48px;
  padding-top: 48px;
}

#projects-header {
  color: #007777;
  margin: 20px 20px 0 20px;
}

h2 {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-size: 24px;
}

.projects-subheader {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 20px 0 20px;
}

.projects-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
}

.projects-tile {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  overflow: hidden;
}
.projects-tile p {
  padding: 0.5em;
}

.projects-tile:hover {
  -webkit-box-shadow: 5px 10px 20px #696969;
  -moz-box-shadow: 5px 10px 20px #696969;
  -o-box-shadow: 5px 10px 20px #696969;
  box-shadow: 5px 10px 20px #696969;
}

.center-img {
  display: block;
  height: 153px;
  margin: auto;
  width: 153px;
}

.fill-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 153px;
  width: 100%;
}

#chordpouch {
  background-color: #9C6A56;
}

#nutritrak {
  background-color: #318AB0;
}

#tribute {
  background-color: #696969;
}

#tribute-img {
  background-image: url(https://live.staticflickr.com/65535/49220510576_c9b0112f34_o.jpg);
}

#survey {
  background-color: #BF8640;
}

#survey-img {
  background-image: url(https://live.staticflickr.com/65535/49220510671_316c4e40ca_o.jpg);
}

#documentation {
  background-color: #FFFFE6;
  color: black;
}

#landing {
  background-color: #00AAAA;
}

#quote {
  background-color: green;
}

#quote-img {
  background-image: url(https://live.staticflickr.com/65535/49393703856_672c3a7ef8_o.jpg);
}

#calculator {
  background-color: #999999;
}

#contact {
  background: linear-gradient(0deg, #007777 0%, #80BBBB 100%);
  margin-top: 20px;
  padding: 20px;
}

#contact-ul {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 150px);
  list-style: none;
  margin-top: 20px;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 367px) {
  .projects-section {
    grid-template-columns: calc(100vw - 40px);
  }
}

/*# sourceMappingURL=portfolio.css.map */
